body {
    background-color: rgb(151, 201, 244);
    font-family:Arial, Helvetica, sans-serif
}
header{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 50px;
}
header h1{
    font-size: 40px;
    color: blue;
}
header p{
    margin-top: 50px;
    color: rgb(0, 72, 120);
    font-size: 16px;
}
.input-container{
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 50px;
}
.input-container select,
.input-container input[type="text"],
.input-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.result-container{
    margin: auto;
    width: 40%;
    text-align: center;
    margin-top: 40px;
}
.result-container p {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: auto;
    background-color: white;
    overflow: auto;
}