body {
    background-color: rgb(151, 201, 244);
    
}
.container{
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 200px;
}
.text-container{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 25px;
}
.container select,
.container input[type="text"],
.container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.text-container p {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5x;
    background-color: #ccc;
}